<div class="grid__wrapper">
  <igx-grid (cellEditExit)="cellEditDone($event)" #grid [batchEditing]="true" [data]="data" [primaryKey]="'ProductID'" width="100%" height="500px"
    [rowEditable]="true">
    <igx-column [editable]="false">
      <ng-template igxCell let-cell="cell" let-val>
        <button igxButton (click)="deleteRow(cell.id.rowID)" [disabled]="cell.row.deleted">Delete</button>
      </ng-template>
    </igx-column>
    <igx-column field="sku" header="SKU" dataType="string" [editable]="true">
      <ng-template igxCell let-cell="cell">
        {{ cell.value }}
      </ng-template>
      <ng-template igxCellEditor let-cell="cell" let-value>
        <igx-input-group #inputGroup [igxToggleAction]="dropDown" class="input-group">
          <input #input 
          class="input" 
          type="text" 
          igxInput 
          [igxFocus]="true" 
          [igxDropDownItemNavigation]="dropDown"
          [igxAutocomplete]="dropDown" 
          [(ngModel)]="cell.editValue"
           />
          <igx-suffix igxButton="icon" class="dropdownToggleButton" igxRipple>
            <igx-icon>arrow_drop{{ dropDown.collapsed ? '_down' : '_up' }}</igx-icon>
          </igx-suffix>
        </igx-input-group>
        <igx-drop-down #dropDown [width]="'180px'">
          <igx-drop-down-item *ngFor="let item of skuData | startsWith:cell.editValue" [value]="item.sku">
            {{ item.sku }}
          </igx-drop-down-item>
        </igx-drop-down>
      </ng-template>
    </igx-column>
    <igx-column header="Name" field="name"></igx-column>
    <igx-column header="Brand" field="brand"></igx-column>
    <igx-column header="Quantity" field="stockQty" dataType="number"></igx-column>
    <igx-column header="Available" field="available" dataType="boolean"></igx-column>
    <igx-column header="Text" field="description.text"></igx-column>
    <igx-column header="Price" field="description.price" dataType="number"></igx-column>
    <igx-column header="Discount" field="description.discount" dataType="number"></igx-column>
  </igx-grid>


  <div class="buttons-row">
    <button igxButton (click)="addRow()">Add Row</button>
    <div class="buttons-wrapper">
      <button igxButton [disabled]="grid.transactions.getAggregatedChanges(false).length < 1"
        (click)="discard()">DISCARD CHANGES</button>
        <button igxButton [disabled]="grid.transactions.getAggregatedChanges(false).length < 1"
        (click)="commit()">SAVE CHANGES</button>
    </div>
  </div>
</div>